@page "/Budget"
<h3>Budget</h3>

@code {
    //wykres slupkowy jak jest budget, pary slupkow payments+limit\
    //wykrew kolowy jak budget nie ma i wtedy wydatki9 dla konkretnej currency ( np ta co ma najwiecej payemnts jest podstawowo i mozna zminic a inna)
    //wykres liniowy wydatkó w ciagu miesiąca
    //MudPieChart albo MudDonutChart
    
}